<html>
	<body>
#if($user.language == 'el')
#set ($toActivate="για να ενεργοποιηθεί ο λογαριασμός πάτα")
#set ($here="εδώ")
#else
#set ($toActivate="to activate the account press")
#set ($here="here")
#end
	
$user.userProfile.firstName,
<div>
$toActivate <a href="http://localhost:8080/idocs-base/admin/activateAccount.html?tkn=$user.userProfile.activationToken">
$here</a> !
</div>

<h3>Other info - Άλλες πληροφορίες</h3>
<p>User:</p>
$user

</body>
</html>
