<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv=Content-Type content="text/html; charset=iso-8859-7">
<meta name=Generator content="Microsoft Word 12 (filtered medium)">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>Untitled Document</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-priority:99;
	color:blue;
	text-decoration:underline;}
p
	{mso-style-priority:99;
	mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.EmailStyle18
	{mso-style-type:personal;
	font-family:"Arial","sans-serif";
	color:navy;}
span.EmailStyle19
	{mso-style-type:personal;
	font-family:"Calibri","sans-serif";
	color:#1F497D;}
span.EmailStyle21
	{mso-style-type:personal-reply;
	font-family:"Calibri","sans-serif";
	color:#1F497D;}
.MsoChpDefault
	{mso-style-type:export-only;
	font-size:10.0pt;}
@page Section1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1" />
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EL link=blue vlink=blue>

<div align=center>

<table width=600 >
 <tr>
 <td colspan=2 style='padding:0cm 0cm 0cm 0cm'><img src="http://www.wind.gr/Themes/1/Default/Media/eCare/registration_header.jpg" width="500"></td>
 </tr>
 
 <tr>
 
  <td width=389 align=left valign=top style='width:291.75pt;padding:0cm 0cm 0cm 0cm'><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><p><strong><span style='font-size:10.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
  color:#404040'></span></strong>
            <o:p></o:p>
    </p>
		
<p><font style='FONT: 12px Arial, Helvetica, sans-serif; COLOR: #0f4174' size="2">Dear Colleagues,</font> </p>
		<p><font style='FONT: 12px Arial, Helvetica, sans-serif; COLOR: #0f4174' size="2">If there are any failed tasks today will be displayed in the following list:  </font></p>
		
		#set($jobList= $sql.select('DS', "select distinct job.id,job.type,to_char(job.startdate,'DD/MM/YYYY hh24:mm:ss'),status from job,task where job.startdate>=sysdate-5/24 and task.status!='OK' and job.id=task.jobid and job.type!='InitSqlSecondJobMailerWorker'"))
					#foreach($jobId in $jobList)
	   					#set($jId = $jobId.getString(1))
						#set($jtype = $jobId.getString(2))
						#set($jdate = $jobId.getString(3))
						#set($jstatus = $jobId.getString(4))
		
             
              			  
              <p><font style='FONT: 12px Arial, Helvetica, sans-serif; COLOR: #0f4174' size="2"><li><strong> <u>Job $jId</u></strong> of type $jtype started on <strong>$jdate</strong> has status <strong>$jstatus</strong></li></font></p>
					#end 
					
			  
			
			  <p><span style='FONT: 12px Arial, Helvetica, sans-serif; COLOR: #0f4174'>Best Regards,</span>
			  <br><span style='FONT: 12px Arial, Helvetica, sans-serif; COLOR: #0f4174'>WIND Hellas Telecommunications S.A.</span></br></p>
			  <p><font style='FONT: 12px Arial, Helvetica, sans-serif; COLOR: #0f4174' size="2">Note: This is an automated email and cannot be replied to.</font></p>
		<p><span></span></p>
		
      </td>
  </tr>
 <tr>
	<table width="500">
	            <tbody>
	              <tr>
	                <td style="PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #00b2eb; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT: 11px Arial, Helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 10px">Copyright &#169; 2013 WIND. All Rights Reserved.</td>
	              </tr>
	            </tbody>
	</table>
</tr>
</table>
  </td>
 </tr>
 <tr>
  <td colspan=3 align="left"><span style='font-size:8pt;font-family:"Arial","sans-serif";
  </tr>
<tr>
  <td colspan=3 align="left"><span style='font-size:8pt;font-family:"Arial","sans-serif";
  
</tr>
 <tr>
  <td colspan=2 style='padding:0cm 0cm 0cm 0cm'>
  <p class=MsoNormal align=right style='text-align:right'><a
  href="http://www.alpha.gr/cards"></a>
    <o:p></o:p></p>
  </td>
 </tr>
</table>



</div>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
