<?xml version="1.0" encoding="UTF-8"?>
#*
  Template info:
  @author <a href="mailto:s.mastrantonis@i-docs.com">Sokratis Mastrantonis</a>
  @version $Id:  $
*#
<?xml version="1.0" encoding="UTF-8"?>
#*
  Template info:
  @author <a href="mailto:s.mastrantonis@i-docs.com">Sokratis Mastrantonis</a>
  @version $Id:  $
*#
#set($inContract=$currentElement)

##$system.out($inContract.asXML())


#set($zeroAsDouble=$math.toDouble("0"))


#set($coId=$inContract.ensureAttributeValue("coid"))

$postdata.put("coid",$coId)
#set($tmcode=$inContract.defaultAttributeValue("tmcode",""))
$postdata.put("${coId}_tmcode",$tmcode)

#set($sectionId=$inContract.ensureAttributeValue("section"))
#if ("$sectionId" == "3"))
     
	#set($cutItemized = $inContract.defaultAttributeValue("cutItemEbill", "false"))
	   
#end

$currentElement.detach()
